<app-navbar></app-navbar>
<div class="container">
  <app-bread-crumb></app-bread-crumb>
  <div class="container">
    <div class="users">
        <h2>Usuários</h2>
        <div class="search">
            <form>
              <input
                type="text"
                placeholder="Buscar  Usuário..."
                #input
                (keyup)="search(input.value)"
              />
              <img src="assets/search.svg" alt="Buscar Usuário..." />
            </form>
          </div>
      <ul>
        <li *ngFor="let user of Users">
        <a>{{ user.name }}</a>
        <i class="fa-solid fa-user-xmark"(click)="deletar(user.uid)"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
