<app-navbar></app-navbar>
<div class="container charts">
    <h1>Estatisticas</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="chart-container">
                <h2>Nome</h2>
                <canvas  id="MyChart" >{{ chart }}</canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class="chart-container">
                <h2>Nome</h2>
                <canvas  id="MyChart1" >{{ chart1 }}</canvas>
            </div>
        </div>
    </div>
</div>


