:host {
    .container {
                    .select {
                background-color: rgba(255,255,255,0.15);
                border: 1px solid rgba(0, 0, 0, 0.15);
                outline: none;
                text-align: center;
                height:40px;
                width:100%;
                border-radius:7px;

            }
            .btn-add-promo {
                outline:none;
                background: rgba(92, 97, 122, 0.194);
                border:none;
                color:white;
                padding:10px;
                border-radius:5px;
                justify-content: center;
                text-align: center;
                margin-top:35px;
                width:100%;
                &:hover {
                    background: rgba(55, 60, 83, 0.194);
                }
            }
        width:100%;
        margin-top:100px;
        
        border-radius:5px;
        h2{
            text-align: center;
            margin-bottom:30px;
        }
        .adicionar-promo {
            padding:10px;
            background: rgb(30, 38, 60);
            margin-bottom:70px;
            color:white;
            border-radius:5px;
            select {
                color:white;
            }
            option{
                color:black;
                background-color: rgba(255,255,255,0.15);
            }

            .danger {
                margin-top:20px;
                margin-bottom:10px;
                background-color: #c05b5b;
                border:none;
                color:white;
                text-align: center;
            }
            .success{
                margin-top:20px;
                margin-bottom:10px;
                background-color: #6cc05b;
                border:none;
                color:white;
                text-align: center;           
            }
        }
        .search {
            margin-left:30px;
            form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: rgba(255,255,255,0.15);

                border-radius:5px;
                padding:10px;
                margin-bottom:20px;
                input {
                    width:95%;
                    background: none;
                    border: none;
                    font-size: rem-calc(18);
                    color:var(--branco);
                }
                input::placeholder {
                    color:var(--branco);
                }
            }
        }
        .promocoes-ativas{
            background: rgb(30, 38, 60);
            padding:10px;
            color:white;
            border-radius:5px;
            ul {
                max-height: 200px;
                overflow-y: auto;
                list-style-type: none;
                li {
                    margin-bottom:10px;
                    padding:6px;
                    border-radius:5px;
                    background: rgb(37, 45, 69);
                }
            }
            .delete {
                font-size:17px;
                float:right;
                color:#da7272;
                &:hover {
                    color:#a44f4f;
                    cursor:pointer;
                }
            }
            .name {
                text-decoration: none;
                color:white;
               }
            .collapse {
                padding:20px;
                .promo-edit-body{
                   word-break: break-all;
                   .promo-edit-info  {
                    width:100%;
                   }
                   .promo-edit-description{
                    overflow-x:auto;
                    background: rgba(26, 34, 56, 0.443);
                    padding:10px;
                    border-radius:5px;
                    max-height:200px;
                   }
                }
                .edit:hover {
                    color:#72da8e;
                   }
            }
        }
    }
}