<app-navbar></app-navbar>

<div class="container mx-auto">
   <div class="promocoes-ativas">
    <h2>Promocoes Ativas:</h2>
    <ul>
        <li   type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            <a><i class="fa-solid fa-square-caret-down"></i> </a>
            <a> Nome</a>
            <a class="delete"><i class="fa-solid fa-delete-left"></i></a>
            <div class="collapse " id="collapseWidthExample">
                <hr>
                  <div class="row">
                    <div class="promo-edit-body col-md-10">
                       <p class="promo-edit-description">asdasdsadasdasdsa</p>
                       <div class="promo-edit-info">
                        <div class="row">
                            <div class="col-md-4">
                                <a><i class="fa-solid fa-calendar-days"></i> 23/12/2023</a>

                            </div>
                            <div class="col-md-4">
                                <a><i class="fa-solid fa-clipboard-list"></i> Caterogia</a>
                            </div>
                            <div class="col-md-4">
                                <a><i class="fa-solid fa-wifi"></i> LINK</a>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-2">
                        <a style="float:right"><i class="fa-solid fa-pen-to-square"></i></a>
                    </div>
                  </div>
              </div>
        </li>
    </ul>
   </div>
</div>