:host{
    .navbar{
        background: #222b42;
        a{
            color:white;
        }
        .navbar-nav li {
            line-height: 40px;
        }
        .dropdown-menu{
            background: #222b42;
            .dropdown-item:hover {
                background: #121724;
            }

            a{
                color:white;
            }
        }
        .user-logo{
            width:40px;
            height:30px;
        }
    }

}
