<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">App-Promocoes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <ng-template [ngIf]="user">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="dashboard/estatisticas">Estatísticas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="dashboard/promocoes">Promoções</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="dashboard/users">Usuários</a>
            </li>
          </ng-template>
          <li class="nav-item dropdown " *ngIf="user">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <img class="user-logo" src="{{(user.photoUrl)?user.photoUrl: '../../../../../assets/dummyUser.png'}}"> {{(user.name? user.name : "ADMIN")}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/logout">Sair</a></li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="!user">
            <a class="nav-link"routerLink="/sign-in">Entrar Agora</a>
          </li>
        </ul>
  
      </div>
    </div>
  </nav>